/*este es el estilo de portfoloio de Alfredo */
body {background-color:black;}
h2 {text-align: center;
        font-family: 'Poppins', sans-serif;}
p1 {font-family: 'Poppins', sans-serif;
        border: 2px solid rgb(49, 128, 231);
        border-collapse: collapse;
        border-radius:5px 5px 5px 5px ;}
#wrapper {width:85%;
          height:600px; /* luego lo borro */
          background-color: rgb(168, 167, 167);
          margin:auto;
          overflow: auto;}
header {position:relative;
        /* relative para que el titulo que va dentro,
        lo pueda colocar con absolute, donde quiera */
        background-image:url("imagenes/header.jpg");
        background-size:cover;
        /* cover adapta bien la imagen responsive 
        pero la corta... */
        background-position:center;
        /* como mi imagen tiene lo importante en el centro,
         debo poner background-position:center
         para que corte de los lados */
        height:200px;}
#titulo {position: absolute;
        font-family: 'Yantramanav', sans-serif;
        font-size:50px;}
div.polaroid {
        width: 40%;
        background-color: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin-bottom: 25px;
        float:left;
        margin:4%;}
div.polaroid:hover{
        opacity:0.5;}

div.container {text-align: center;
        padding: 10px 20px;}

@media only screen and (max-width:500px){
        div.polaroid {width:95%;}
}